torch
torchaudio
pytesseract
flask>=2.2.5
ultralytics>=8.0.0
opencv-python>=4.8.1
SpeechRecognition
pyaudio
requests 
pymysql>=1.0.2
pyttsx3>=2.90
geopy>=2.3.0
geopy 
scikit-learn
Pillow>=11.3.0
numpy>=1.26.1
werkzeug>=2.2.3
ollama>=0.0.1
openai-whisper
faster-whisper